@import url("//cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css");

@import url("https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css");

@font-face {
  font-family: 'Beleren';
  src: local('Beleren'),
    url('/fonts/Beleren/Beleren.ttf') format('truetype'),
    url('/fonts/Beleren/Beleren.woff') format('woff');
}

/* @font-face {
  font-family: 'Lobster_Two';

} */

html, body, #root {
  height: 100%;
}

nav button {
  height: 37.5px !important;
}

nav span.navbar-brand:hover {
  color: mediumslateblue !important;
  cursor: pointer;
}

.ui.search > .results {
  overflow-y: auto;
  max-height: 350px;
  top:auto !important;
  bottom: 50px !important;
}

.deck-format-dropdown .default.text {
  color: rgba(255, 0, 0, 0.6) !important;
  opacity: 0.6 !important;
}

.card-li:hover {
  color: blue;
  text-decoration: underline;
}

/* .ui.fitted.toggle.checkbox {

} */
