@import url("//cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css");

@import url("https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css");

@font-face {
  font-family: 'Beleren';
  src: local('Beleren'),
    url('/fonts/Beleren/Beleren.ttf') format('truetype'),
    url('/fonts/Beleren/Beleren.woff') format('woff');
}

/* @font-face {
  font-family: 'Lobster_Two';

} */

html, body, #root {
  height: 100%;
}

nav button {
  height: 37.5px !important;
}

nav span.navbar-brand:hover {
  color: mediumslateblue !important;
  cursor: pointer;
}

.ui.search > .results {
  overflow-y: auto;
  max-height: 300px;
  top:auto !important;
  bottom: 50px !important;
}

.deck-format-dropdown .default.text {
  color: rgba(255, 0, 0, 0.6) !important;
  opacity: 0.6 !important;
}

.link-li:hover {
  color: blue;
  font-weight: bold;
}

.spin {
  animation: spin 4s infinite linear !important;
}

@keyframes spin {
  from {transform:rotate(0deg);}
  to {transform:rotate(360deg);}
}

div.column ul {
  padding-left: 20px;
}

div.segment img {
  max-width: 100%;
  width: auto;
  height: auto;
}

html {
  height: 100%;
}

body {
  /* height: 200px; */
  height: 100%;
  background-size: cover;
  background-color: white; /* For browsers that do not support gradients */
  background-image: linear-gradient(to bottom right, #FFFBD5 10%, #AAE0FA, #C2BCBA, #FAAA8F, #9BD3AE 90%); /* Standard syntax (must be last) */
}

.transparent {
  /* border: none !important; */
  background-color: rgba(255,240,245, 0.5) !important;
  /* background-color: inherit !important; */
}

.green-background {
  background-color: springgreen !important;
}

/* .wubrg-border {
  border-image-source: url('/images/G.png') !important;
  border-image-slice: 44  !important;
  border-image-width: 25px !important;
  border-image-repeat: repeat !important;
} */
